<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0D5CA7D7-94E6-439D-9CC7-70AB3CDD04A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69651894-9381-477A-8653-00F77C72DD4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E5E843E-92A0-4338-8442-3C9783265824</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69651894-9381-477A-8653-00F77C72DD4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30410192-F0BF-4E9D-90F1-A12F783D6D29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1BFDADE-C99F-4AC8-A95D-432E30933784</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>375C56FA-AABE-43CF-AC90-D12847B32C2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B446BA9-EAE1-42D4-9AEF-6182261BC547</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69651894-9381-477A-8653-00F77C72DD4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30410192-F0BF-4E9D-90F1-A12F783D6D29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBAB48B2-22E6-4875-9180-F1F3A1FBC1A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69651894-9381-477A-8653-00F77C72DD4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>pbdco</string>
	<key>description</key>
	<string>Post memos on memos (usememos.com)</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Memos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>memos open</string>
				<key>subtext</key>
				<string>Open memos URL in browser</string>
				<key>text</key>
				<string>Go to {var:MEMOS_API_URL}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>375C56FA-AABE-43CF-AC90-D12847B32C2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:MEMOS_API_URL}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3B446BA9-EAE1-42D4-9AEF-6182261BC547</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>memos</string>
				<key>subtext</key>
				<string>Some message [-t tag1,tag2] (optional)</string>
				<key>text</key>
				<string>Write a memo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1E5E843E-92A0-4338-8442-3C9783265824</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env bash
set -xe

# Add libs to Python path
export PYTHONPATH="./script/libs:$PYTHONPATH"

export MEMOS_API_URL=${MEMOS_API_URL}
export MEMOS_ACCESS_TOKEN=${MEMOS_ACCESS_TOKEN}
export MESSAGE=${MESSAGE}
export TAGS=${TAGS}



# Run the script
python3 ./script/memos.py "$MESSAGE" -t "$TAGS"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D1BFDADE-C99F-4AC8-A95D-432E30933784</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>memos</string>
				<key>subtext</key>
				<string>Some message [-t tag1,tag2] (optional)</string>
				<key>text</key>
				<string>Write a memo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BBAB48B2-22E6-4875-9180-F1F3A1FBC1A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>MESSAGE</key>
					<string>{var:split1}</string>
					<key>TAGS</key>
					<string>{var:split2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>30410192-F0BF-4E9D-90F1-A12F783D6D29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>-t</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>69651894-9381-477A-8653-00F77C72DD4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>m</string>
				<key>subtext</key>
				<string>Some message [-t tag1,tag2] (optional)</string>
				<key>text</key>
				<string>Write a memo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D5CA7D7-94E6-439D-9CC7-70AB3CDD04A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D5CA7D7-94E6-439D-9CC7-70AB3CDD04A8</key>
		<dict>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>1E5E843E-92A0-4338-8442-3C9783265824</key>
		<dict>
			<key>xpos</key>
			<real>110</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>30410192-F0BF-4E9D-90F1-A12F783D6D29</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>375C56FA-AABE-43CF-AC90-D12847B32C2D</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>3B446BA9-EAE1-42D4-9AEF-6182261BC547</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>69651894-9381-477A-8653-00F77C72DD4E</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>BBAB48B2-22E6-4875-9180-F1F3A1FBC1A0</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>D1BFDADE-C99F-4AC8-A95D-432E30933784</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>https://memos.example.com</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your memos url</string>
			<key>label</key>
			<string>URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>MEMOS_API_URL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your memos user access token</string>
			<key>label</key>
			<string>Access Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>MEMOS_ACCESS_TOKEN</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/pbdco</string>
</dict>
</plist>
